@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}
<div>
    <form asp-action="FormulierPost">
        <fieldset>
            <legend>TestFormulier</legend>
        </fieldset>
        <div class="form-group">
            Invoer:
            <input name="TestInvoer" />
            <input type="submit" value="submit" />
        </div>
    </form>
</div>
