@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header class="text-center">
    <h1 class="display-4">TestController</h1>
    <p>TestController - Index Action</p>
</header>
