@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Custom Model validation</h1>
    <a asp-controller="TestData" asp-action="Index">Test Data - Custom Model Validation</a>    
    <a asp-controller="TestValidation" asp-action="Index">Test Validation</a>    
</div>
