<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCFifa2022</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCFifa2022.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="text-center">
            <img src="Images/fifa_header2.jpg" width="640" height="480" />
        </div>
    </header>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <br />
            <a asp-controller="Player" asp-action="Index">Players</a>
        </div>
        <div class="col-8">@RenderBody()</div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MVCFifa2022
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
