<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="m-1 p-1">
        <h2>Oefening 1 MVC</h2>
    </header>
    <div class="row m-1 p-1">
        <div id="menu"class="col-3 border border-primary">
           <ul class="nav-tabs navbar-dark list-unstyled border-0 m-1 ">
               <li class="nav-item">
                    @*/* Controller verwijst naar de folder in views, action naar de pagina in deze folder */*@
                   <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
               </li>
               <li>
                   <a class="nav-link" asp-controller="Test" asp-action="Index">TestPagina</a>
               </li>
               <li>
                   <a class="nav-link" asp-controller="Test" asp-action="TestViewBag">TestViewbag</a>
               </li>
               <li>
                   <a class="nav-link" asp-controller="Test" asp-action="Formulier">TestFormulier</a>
               </li>
           </ul>
        </div>
        <div id="main"class="col-9 border border-primary">
            @RenderBody()
        </div>
    </div>
    

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            Footer - @DateTime.Now.ToString("dd/MM/yyyy")
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
