@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Custom model validation</h1>
    <a asp-controller="Clients" asp-action="Index">Go to Clients</a>
    <a asp-controller="Locations" asp-action="Index">Go to Locations</a>
</div>
