@model MVCVoertuig.Models.Data.Voertuig
@{
    ViewData["Title"] = "Create";
}
<h4>Voertuig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Merk" class="control-label"></label>
                <input asp-for="Merk" class="form-control" />
                <span asp-validation-for="Merk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MerkType" class="control-label"></label>
                <input asp-for="MerkType" class="form-control" />
                <span asp-validation-for="MerkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bouwjaar" class="control-label"></label>
                <input asp-for="Bouwjaar" class="form-control" />
                <span asp-validation-for="Bouwjaar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Km" class="control-label"></label>
                <input asp-for="Km" class="form-control" />
                <span asp-validation-for="Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerkoopPrijs" class="control-label"></label>
                <input asp-for="VerkoopPrijs" class="form-control" />
                <span asp-validation-for="VerkoopPrijs" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AanwezigInShowroom" /> @Html.DisplayNameFor(model => model.AanwezigInShowroom)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
