@using WebAppMvcClientLocation_oefening4.Controllers
@model Client
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{



}

<header>
    <h1>Create</h1>
</header>
<form asp-action="AddClient"method="post" class="form-group w-50">
    
    <div>
        <label class="form-label" asp-for="ClientId"></label>    
        <input class="form-control"type="number" asp-for="ClientId"/>
        <span asp-validation-for="ClientId" class="text-danger"></span>
        <div asp-validation-summary="ModelOnly" class="text-danger list-unstyled"></div>

        
    </div>
    <div>
        <label class="form-label" asp-for="LocationId">Location Id</label>
        <input class="form-control" type="number" asp-for="LocationId"/>
    </div>
    <div>
        <label class="form-label" asp-for="ClientName"></label>
        <input class="form-control" type="text" asp-for=ClientName/>
    </div>   
    
    <input class="btn btn-primary" type="submit" value="create" >

    </form>
<a asp-controller="Clients" asp-action="Index">Back to List</a>