@model MVCTagHelper.Models.Locatie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Locatie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Land)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Land.LandId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LocatieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
